<% title "Edit your account" %>

<% title "Sign up" %>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group" id="form-section-username">
              <%= f.label :username %>

              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <%= f.text_field :username, class: "form-control" %>
                <span></span>
              </div>
            </div>
            <!-- #form-section-username .form-section -->

            <div class="form-group" id="form-section-email">
              <%= f.label :email %>

              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                <%= f.email_field :email, class: "form-control", autofocus: true %>
                <span></span>
              </div>
            </div>
            <!-- #form-section-email .form-section -->

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group" id="form-section-password">
              <%= f.label :password %>
              <i>(leave blank if you don't want to change it)</i>

              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
                <span></span>
              </div>
            </div>
            <!-- #form-section-password .form-section -->

            <div class="form-group" id="form-section-password-confirmation">
              <%= f.label :password_confirmation %>

              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
                <span></span>
              </div>
            </div>
            <!-- #form-section-password-confirmation .form-section -->

            <div class="form-group" id="form-section-current-password">
              <%= f.label :current_password %>
              <i>(we need your current password to confirm your changes)</i>

              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
                <span></span>
              </div>
            </div>
            <!-- #form-section-current-password .form-section -->

            <p class="form-submit">
              <%= f.submit 'Update', class: "btn btn-primary btn-embossed" %>
            </p>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-embossed" %></p>

        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</article>

