<%= form_for([@post, @post.comments.build]) do |f| %>
    <% if @comment && @comment.errors.any? %>
        <div id="errors" class="alert-danger alert">
          <h2><%= pluralize(@comment.errors.count, "error") %> prevented this comment from saving</h2>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p class="help-block">
      Fields marked with a <span class="required">*</span> are required.
    </p>

    <div class="form-group input-required" id="form-section-name">
      <%= f.label :name %>

      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-header"></i></div>
        <%= f.text_field :name, class: "form-control" %>
        <span></span>
      </div>
    </div>
    <!-- #form-section-name .form-section -->

    <fieldset id="form-section-body">
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, class: "text-small", cold: 45, rows: 8 %>
      </div>
    </fieldset>
    <!-- #form-section-comment -->
    <p class="form-submit">
      <%= f.submit 'Submit', class: "btn btn-primary btn-embossed" %>
    </p>
<% end %>
