<% title @post.title %>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= @post.title %></h1>
          <span class="meta">Submitted <%= time_ago_in_words(@post.created_at) %> Ago
            <% if user_signed_in? %>
                | <%= link_to 'Edit', edit_post_path(@post) %>
                | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= sanitize @post.body %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="logout">
        <div class="page-header">
          <h2><%= @post.comments.count %> Comments</h2>
        </div>

        <ul class="media-list">
          <%= render @post.comments %>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="comments-header">
          <h2>Leave a comment</h2>
        </div>

        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</article>
