<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="sidebar">
        <div id="logo">
          <%= link_to root_path do %>
            <%= image_tag "logo.svg" %>
          <% end %>
        </div>

      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>About</li>
      </ul>

      <ul>
        <li class="category">Social</li>
        <li><a href="https://twitter.com/act_as_samurai">Twitter</a></li>
        <li><a href="https://github.com/r007">Github</a></li>
        <li><a href="mailto:moninsergei@gmail.com">Email</a></li>
      </ul>
    </div>

<%= yield %>

</body>
</html>
